.contact-details-container {
  margin-top: 40px;
  text-align: center;
}

.contact-details-container > h2 {
  font-size: 2.2rem;
  font-family: "Oswald";
  letter-spacing: 1px;
  color: #4d73dc;
}

.personal-information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 150px;
}

.images-container > img {
  width: 250px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
