/* 1. Slide Animations */
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInFromRight 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-top {
  animation: slideInFromTop 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-bottom {
  animation: slideInFromBottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
}

/* 2. Fade Animations */
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  animation: fadeInFromTop 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom {
  animation: fadeInFromBottom 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInFromLeft 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInFromRight 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

/* 3. Other Animations */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes rippleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ripple-in {
  animation: rippleIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

/* 4. Typewriter Animation */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.type-writer {
  overflow: hidden;
  border-right: 0.15em solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal, expandHeight 2s forwards;
}
.text {
  display: block;
  height: auto;
  animation: expandHeight 2s forwards;
}

/* Utility Classes */
.delay-400 {
  animation-delay: 400ms;
}
.delay-600 {
  animation-delay: 600ms;
}
.delay-800 {
  animation-delay: 800ms;
}
.delay-1000 {
  animation-delay: 1000ms;
}
.delay-1200 {
  animation-delay: 1200ms;
}
.delay-1400 {
  animation-delay: 1400ms;
}
.delay-1600 {
  animation-delay: 1600ms;
}
.delay-1800 {
  animation-delay: 1800ms;
}
.delay-2000 {
  animation-delay: 2000ms;
}
.delay-2200 {
  animation-delay: 2200ms;
}
.delay-2400 {
  animation-delay: 2400ms;
}

.opacity-min {
  opacity: 0.4;
}
.opacity-0 {
  opacity: 0;
}
