#about {
  margin: 116px 0 0px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4d73dc;
  height: 630px;
  flex-direction: column;
}

.welcome-container {
  margin: 0 450px;
  background-color: #99afec;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 80px;
}

.welcome-container > h2 {
  font-family: "Oswald";
  font-size: 3rem;
  color: #fff;
  letter-spacing: 2px;
}

.welcome-container > p {
  font-family: "Basic";
  font-size: 1.5rem;
  color: #fff;
}
