.languages-container {
  margin-top: 200px;
}

.languages-container > h2 {
  font-family: "Basic";
  font-size: 1.8rem;
  color: #fff;
  margin: -60px 0 15px 0;
}

.item-container {
  background-color: #fff;
  border-radius: 25px 7px 25px 7px;
  margin: 0 10%;
  box-shadow: 5px 7px 15px 5px rgba(0, 0, 0, 0.5);
}
