.tool {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icon-container {
  width: 75px;
  height: 75px;
  border: 3px solid #ccc;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
}

.icon-container > i {
  font-size: 35px;
}

.first-box {
  text-align: center;
  height: 185px;
}

.first-box > h3 {
  font-size: 2.3rem;
  font-family: "Basic";
  letter-spacing: 1px;
}

.first-box > p {
  margin-top: -20px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: #656464;
}

.second-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-box > h4 {
  font-size: 1.8rem;
  font-family: "Oswald";
  letter-spacing: 1px;
}

.second-box > ul {
  margin-top: -10px;
  list-style: none;
  display: flex;
  gap: 25px;
  width: 100%;
}

.second-box > ul > li {
  font-size: 1.5rem;
  color: #fff;
  background-color: #4d73dc;
  padding: 6px;
  border-radius: 10px;
}

.third-box {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.third-box > h4 {
  font-size: 1.8rem;
  font-family: "Oswald";
  letter-spacing: 1px;
}

.third-box > ul {
  margin-top: -10px;
  list-style: none;
  display: flex;
  gap: 10px;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.third-box > ul > li {
  font-size: 1.5rem;
  color: #fff;
  background-color: #4d73dc;
  padding: 6px;
  border-radius: 10px;
}
