.testimonials-container {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.swiper {
  width: 60%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  margin: auto;
}

.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin: auto;
}

.swiper-slide img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.testimonial-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  text-align: center;
}

.testimonial-slide h3 {
  margin-top: 5px;
  color: #333;
  font-family: "Basic";
  font-size: 50px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
}

.testimonial-slide p {
  font-size: 22px;
  font-family: "Montserrat";
  color: #777;
  text-align: center;
}
