.box {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.box > h3 {
  color: #6d6c6c;
  font-family: "Oswald";
}

.box > h2 {
  color: #222;
  font-family: "Montserrat";
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 7px 10px 7px 0px rgba(0, 0, 0, 0.4);
  margin-top: 0;
}
